/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#card {
  background-color: #f4f4f4;  
  z-index:3000;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 85%;
  z-index: 2000;
}

.modal{
  z-index: 4000;
}

#header{
  height: 10%;
}

#header img{
  height: 70%;
  margin: 10px 10px;
}

.oportunidad{
  background-color: green;
  color: white;
  padding:2px;
}
.ingreso{
  background-color: blue;
  color: white;
  padding:2px;
}
.busqueda{
  background-color: yellow;
  color: gray;
  padding:2px;
}