/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#card {
  background-color: #f4f4f4;  
  z-index:3000;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 85%;
  z-index: 2000;
}

.modal{
  z-index: 4000;
}

#header{
  height: 10%;
}

#header img{
  height: 70%;
  margin: 10px 10px;
}

.oportunidad{
  background-color: rgb(95, 216, 95);
  color: white;
  padding:2px;
}
.ingreso{
  background-color: rgb(73, 73, 240);
  color: white;
  padding:2px;
}
.busqueda{
  background-color: rgb(236, 236, 128);
  color: gray;
  padding:2px;
}

#leyenda{
  position:fixed;
  bottom:2px;
  z-index: 2010;
font-size: 0.8em;
left:3px;
background-color: gray;
padding: 4px;
}